---
const {href, className, id, download, buttonText} = Astro.props
---


<!-- <a href={href} class={className} id={id} download={download}></a> -->
<a href={href} class={className} id={id} download={download}>
    {buttonText} <i class="fas fa-download"></i>
</a>


<style>
    .download-btn
    {
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        background-color: var(--button-background-color);
        padding: 5px 10px;
        border-radius: calc(var(--base-border-radius) * 5);
        margin-top: 10px;
        width: fit-content;
        color: var(--body-background-color);
        box-shadow: var(--box-shadow);
        cursor: pointer;
        transition: .15s ease-in;
    }

    .download-btn:hover
    {
        opacity: .9;
        transition: .15s ease-in;
    }

    .download-btn:active
    {
        transform: scale(.98);
        box-shadow: none;
        transition: none;
    }
</style>
