---
const cardsData =
[
    {
        cardURL: 'first_semester_topics/functions',
        cardFrontText: 'Funktioner',
        cardBackText: 'function myFunction()',
        topicNumber: 1,
    },
    {
        cardURL: 'first_semester_topics/variables_constants',
        cardFrontText: 'Variable/Konstante',
        cardBackText: 'var, let, const',
        topicNumber: 2
    },
    {
        cardURL: 'first_semester_topics/selectors',
        cardFrontText: 'Selectors',
        cardBackText: 'Klasser, ID\'er & elementer',
        topicNumber: 3
    },
    {
        cardURL: 'first_semester_topics/events',
        cardFrontText: 'Eventlisteners',
        cardBackText: '.addEventListener()',
        topicNumber: 4
    },
    {
        cardURL: 'first_semester_topics/classes',
        cardFrontText: 'Klassemanipulation',
        cardBackText: '.add(), .remove(), .toggle()',
        topicNumber: 5
    },
    {
        cardURL: 'first_semester_topics/timers',
        cardFrontText: 'Timers',
        cardBackText: 'setInterval()/setTimeout()',
        topicNumber: 6
    },
    {
        cardURL: 'first_semester_topics/random',
        cardFrontText: 'Tilfældighed',
        cardBackText: 'Math.random()',
        topicNumber: 7
    },
    {
        cardURL: 'first_semester_topics/operands',
        cardFrontText: 'Sammenlignende operatorer',
        cardBackText: '<, >, <=, >=, ||, &&, =, ==',
        topicNumber: 8
    },
    {
        cardURL: 'first_semester_topics/conditions',
        cardFrontText: 'Forhold',
        cardBackText: 'if',
        topicNumber: 9
    },
    {
        cardURL: 'first_semester_topics/console',
        cardFrontText: 'Konsollen',
        cardBackText: 'console.log()',
        topicNumber: 10
    },
    {
        cardURL: 'first_semester_topics/sound',
        cardFrontText: 'Lyd',
        cardBackText: '.play(), .pause(), .muted,\n .volume, .duration, .currentTime',
        topicNumber: 11
    },
]
---

<>
    {
        cardsData.map((card) =>
        (
                <a href=`topics/${card.cardURL}`>
                    <div class="card topic-card">
                        <div class="inner-card">
                            <div class="front-card">
                                <h2>{card.cardFrontText}</h2>
                            </div>
                            <div class="back-card">
                                <h2>{card.cardBackText}</h2>
                            </div>
                        </div>
                    </div> 
                    <h3 class="topic-title"><span class="topic-number">{card.topicNumber}.</span>&nbsp;&nbsp;{card.cardFrontText}</h3>
                </a>
            )
         
        )
    }  
</>



<style>
    
    .container.card-container h4
    {
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        font-size: 18px;
    }

    .topic-card
    {

        width: 300px;
        height: 200px;
        perspective: 1000px;
        cursor: pointer;
    }

    /* This container is needed to position the front and back side */
    .inner-card
    {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s .4s;
        transform-style: preserve-3d;
    }

    .topic-card:hover .inner-card
    {
        transform: rotateY(-180deg);
    }

    .topic-card:hover .front-card h2
    {
   
        color: #ff0;
        transition: .3s ease-in;
    }

    .front-card, .back-card
    {
        white-space: pre-line;
        background-color: var(--topic-card-background-color);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: var(--topic-card-background-color);
        border-radius: calc(var(--base-border-radius) / 1.5);
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .back-card
    {     
        background-color: var(--topic-card-background-color);
        transform: rotateY(180deg);
    }

    .back-card h2
    {
        padding: 10px 60px;
        white-space: pre;
    }

    .topic-title
    {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .topic-number
    {
        color: #ff0;
    }
</style>