---
import {secondSemesterTopicCards} from '../topic_cards_data/second_semester_topic_cards.js'

---

<>
    {
        secondSemesterTopicCards.map((secondSemesterTopicCard) =>
        (
                <a href=`/topics/second_semester_topics/${secondSemesterTopicCard.cardURL}/`>
                    <div class="card topic-card">
                        <div class="inner-card">
                            <div class="front-card">
                                <h2>{secondSemesterTopicCard.cardFrontText}</h2>
                            </div>
                            <div class="back-card">
                                <h2>{secondSemesterTopicCard.cardBackText}</h2>
                            </div>
                        </div>
                    </div> 
                    <h3 class="topic-title"><span class="topic-number">{secondSemesterTopicCard.topicNumber}.</span>&nbsp;&nbsp;{secondSemesterTopicCard.cardFrontText}</h3>
                </a>
            )
         
        )
    }  
</>



<style>
    .container.card-container h4
    {
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        font-size: 18px;
    }

    .topic-card
    {

        width: 300px;
        height: 200px;
        perspective: 1000px;
        cursor: pointer;
    }

    /* This container is needed to position the front and back side */
    .inner-card
    {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s .4s;
        transform-style: preserve-3d;
    }

    .topic-card:hover .inner-card
    {
        transform: rotateY(-180deg);
    }

    .topic-card:hover .front-card h2
    {
   
        color: #ff0;
        transition: .3s ease-in;
    }

    .front-card, .back-card
    {
        white-space: pre-line;
        background-color: var(--topic-card-background-color);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        width: 100%;
        height: 100%;
        background-color: var(--topic-card-background-color);
        border-radius: calc(var(--base-border-radius) / 1.5);
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .back-card
    {     
        background-color: var(--topic-card-background-color);
        transform: rotateY(180deg);
    }

    .back-card h2
    {
        padding: 10px 60px;
        white-space: pre;
    }

    .topic-title
    {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .topic-number
    {
        color: #ff0;
    }
</style>